.cl1{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.cl1 input{
  width: 400px;
  height:30px;
  padding-left:30px;
  border-radius:5px ;
}
.cl2{
  background-color: #142850;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
